/* =============== shared ================= */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Lato", sans-serif;
}

.white{
    color: #fff !important;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* =============== shared ================= */


/* =============== header ================= */
header{
    background: #000;
    height: 46px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

header .search__btn, 
header .nav-bar__btn{
    line-height: 46px;
    float: right;
    color: #fff;
    padding: 0 24px;
    font-size: 14px;
}

header .search__btn:hover{
    background: #f44336;
    cursor: pointer;
}

#nav,
#nav li{
    display: inline-block;
}

#nav > li > a{
    display: block;
    padding: 0 24px;
    line-height: 46px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

#nav > li:hover > a,
#nav .sub-nav a:hover
{
    background: #ccc;
    color: #000;
}

#nav li:hover .sub-nav{
    display: block;
}

#nav .sub-nav{
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #fff;
    top: 100%;
    min-width: 160px;
}

#nav .sub-nav a{
    color: #000;
    padding: 0 18px;
    display: block;
    line-height: 38px;
    text-decoration: none;
    font-size: 14px;
}
/* =============== header ================= */


/* =============== slider ================= */
#slider{
    margin-top: 46px;
    position: relative;
}

#slider .slider__img{
    width: 100%;
}

#slider .slider-ct{
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    color: #fff;
}

#slider .slider-ct .slider-hd{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 25px;
}

#slider .slider-ct .slider-dct{
    font-weight: bold;
    text-shadow: 0 0 20px #000;
}
/* =============== slider ================= */


/* =============== content ================= */
#content .section-ct{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 0 80px;
}

#content .section-ct .section-hd{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .section-ct .section-slogan{
    text-align: center;
    font-style: italic;
    opacity: 0.7;
    padding: 25px 0;
}

/* band */
#band .about-band{
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
    padding-bottom: 60px;
}

#band .members-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

#band .member-item .member-name{
    font-size: 15px;
    padding-bottom: 15px;
}

#band .member-item .member-img{
    width: 154px;
    border-radius: 4px;
}
/* band */

/* tour */
#tour{
    background: #000;
}

#tour .ticket-month{
    background: #fff;
    color: #757577;
    list-style: none;
    margin-bottom: 32px;
}

#tour .ticket-month li{
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

#tour .ticket-month .note{
    background: #f44336;
    margin-left: 16px;
    padding: 3px 4px;
}

#tour .ticket-month .quantity{
    float: right;
    background: #000;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -3px;
}

#tour .tickets-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    font-size: 15px;
}

#tour .ticket-item{
    flex-basis: 32%;
}

#tour .ticket-item .ticket-img{
    width: 100%;
    display: block;
}

#tour .ticket-item .ticket-img:hover{
    opacity: 0.6;
}

#tour .ticket-item .about-ticket{
    background: #fff;
    padding: 0 15px;
}

#tour .about-ticket .ticket-direc,
#tour .about-ticket .ticket-info{
    padding: 15px 0;
}

#tour .about-ticket .ticket-date{
    opacity: 0.6;
}

#tour .about-ticket .buy-ticket-btn{
    margin-bottom: 15px;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 16px;
}

#tour .about-ticket .buy-ticket-btn:hover{
    background: #ccc;
    color: #000;
    cursor: pointer;
}
/* tour */

/* contact */
#contact .contact-info, .contact-form{
    flex-basis: 50%;
}

#contact .contact-info p{
    font-size: 15px;
}

#contact .contact-info i{
    display: inline-block;
    width: 30px;
    padding-bottom: 8px;
}

#contact .contact-form .form-control{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact .contact-form .form-item{
    flex-basis: 48%;
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
    border-radius: 0;
    border: 1px solid #ccc;
}

#contact .contact-form .send-contact-btn{
    float: right;
    background: #000;
    color: #fff;
    padding: 10px 16px;
    border: none;
}

#contact .contact-form .send-contact-btn:hover{
    background: #ccc;
    color: #000;
    cursor: pointer;
}
/* contact */

/* map */
#map .map-img{
    width: 100%;
    filter: grayscale(50%);
}
/* map */
/* =============== content ================= */


/* =============== footer ================= */
#footer{
    padding: 64px 0;
    text-align: center;
}

#footer .socials-list{
    display: flex;
    justify-content: center;
}

#footer .socials-list a{
    display: inline-block;
    padding: 0 15px 25px 0;
    font-size: 25px;
    color: #000;
    opacity: 0.6;
}

#footer a:hover{
    opacity: 0.4;
}

#footer .license{
    color: #757575;
    font-size: 15px;
}
/* =============== footer ================= */